# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

variables:
  hugo.version: '0.69.2'

stages:

#Build Stage
- stage: Build
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - script: wget -c https://github.com/gohugoio/hugo/releases/download/v$(hugo.version)/hugo_$(hugo.version)_Linux-64bit.deb -O '$(Pipeline.Workspace)/hugo_$(hugo.version)_Linux-64bit.deb'
      displayName: "Download HUGO"

    - script: sudo dpkg -i $(Pipeline.Workspace)/hugo*.deb
      displayName: "Install HUGO"

    - script: hugo
      displayName: Build site with Hugo

    - task: CopyFiles@2
      displayName: Copy Hugo built site files to staging folder "deploy"
      inputs:
        Contents: |
          public/**
        TargetFolder: deploy

    - task: ArchiveFiles@2
      displayName: Archive built site files
      inputs:
        archiveFile: $(Pipeline.Workspace)/hugo-site.zip
        archiveType: zip
        replaceExistingArchive: true
        includeRootFolder: false
        rootFolderOrFile: ./deploy

    - publish: $(Pipeline.Workspace)/hugo-site.zip
      artifact: hugosite

#Release Stage
- stage: release
  jobs:
  - job: release
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - checkout: none

    #Download the published artifact
    - download: current
      artifact: hugosite
    
    - task: ExtractFiles@1
      displayName: 'Extract Files'
      inputs:
        archiveFilePatterns: '*hugo-site.zip'
        destinationFolder: '$(System.DefaultWorkingDirectory)\deploy'
    
    - task: AzureFileCopy@3
      displayName: 'AzureBlob File Copy'
      inputs:
        SourcePath: '$(System.DefaultWorkingDirectory)\deploy\public'
        azureSubscription: AzureSC
        Destination: AzureBlob
        storage: mattallfordblog
        ContainerName: '$web'